<div class="container_cards">
	<app-card
	  pictureCover="../../../../assets/img/taiko-cover.jpg"
    gameTitle = "Taiko no Tatsujin"
    price = "00.00"
    info = "Full Game | PS4"
    label = "Demo"
	></app-card>
	<app-card
	  pictureCover="../../../../assets/img/god-of-war.jpg"
    gameTitle = "God of War"
    price = "499.99"
    info = "Full Game | PS4"
    label = "Exclusive"
	></app-card>
	<app-card
	  pictureCover="../../../../assets/img/ape-scape.jpeg"
    gameTitle = "Ape Scape"
    price = "299.99"
    info = "Full Game | PS4"
    label = "Digital"
	></app-card>
</div>
