<header>
	<div class="container__first-menu-line">
		<img src="../../../assets/img/playstation-logo.png">
		<ul>
			<li>
				<div>Jogos</div>
				<span class="material-symbols-outlined">
					expand_more
				</span>
			</li>
			<li>
				<div>Hardware</div>
				<span class="material-symbols-outlined">
					expand_more
				</span>
			</li>
			<li>
				<div>Serviços</div>
				<span class="material-symbols-outlined">
					expand_more
				</span>
			</li>
			<li>
				<div>Notícias</div>
				<span class="material-symbols-outlined">
					expand_more
				</span>
			</li>
			<li>
				<div>Loja</div>
				<span class="material-symbols-outlined">
					expand_more
				</span>
			</li>
			<li>
				<div>Suporte</div>
				<span class="material-symbols-outlined">
					expand_more
				</span>
			</li>
		</ul>
		<button>Iniciar sessão</button>
		<div class="search-box">
			<span>Pesquisar</span>
		</div>
	</div>
  <div class="container__second-menu-line">
		<img src="../../../assets/img/playstation-store-logo.png">
		<ul>
			<li>
				<a href="">Novidades</a>
			</li>
			<li>
				<a href="">Coleções</a>
			</li>
			<li>
				<a href="">Ofertas</a>
			</li>
			<li>
				<a href="">PS5</a>
			</li>
			<li>
				<a href="">Assinaturas</a>
			</li>
			<li>
				<a href="">Navegar</a>
			</li>
		</ul>
		<div class="container__empty"></div>
	</div>
</header>
